@model IEnumerable<Task_manager.Models.TaskManager>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskContext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhoSharedTask)
        </th>
        <th>Operations</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskContext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhoSharedTask)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                @Html.ActionLink("Share", "Share", new { id = item.ID })
            </td>
        </tr>
    }
</table>


